@tailwind base;
@tailwind components;
@tailwind utilities;

/* Webkit (Safari, Chrome, Opera) */
::-webkit-scrollbar {
  width: 6px; /* Set the width of the scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Set the color of the scrollbar thumb */
}

/* Firefox */
/* Set the width and color of the scrollbar */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.5);
}
